<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Clone Detection"
            visible="true"
            id="test.actionSet">
         <action
               label="Clone Detection"
               icon="icons/sample.gif"
               class="clone.detection.actions.Action"
               tooltip="Clone Detection"
               menubarPath="Clone"
               toolbarPath="Clone"
               id="clone.detection.actions.Action">
         </action>
      </actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="clone.detection.view"
            name="CodeChangeSupporter">
      </category>
      <view
            category="clone.detection.view"
            class="clone.detection.view.CloneView"
            id="cloneView"
            name="cloneView"
            restorable="true">
      </view>
   </extension>

</plugin>
